<!doctype html>
<html th:fragment="layout (template, menu)">
<head>
<title>Java Getting Started on Heroku</title>
<link rel="stylesheet" type="text/css"
	href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />


<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script>
	function validation() {
		var tipo = $("input[name='creditCar']:checked").val();
		var num = $("#creditNumber").val();
		var operacionValida =  $("#operacionValida");
		if (num == "") {
			alert("please, must to select a type of credit card");
			return false;
		} else {
	
			$.ajax({
				url : "/getCardNames/" + num
			}).then(function(data) {
				console.log(data);
// 				for (var i = 0; i < data.length; i++) {
// 					if (tipo == data[i].brand) {
// 						alert(data);
// 					}
// 				}

				operacionValida.text(data);
			});
		}
	}

	function information() {
		var infoDiv = $("#infoCard");
		var tipo = $("input[name='creditCarValid']:checked").val();
		$.ajax({
			url : "/validate/" + tipo
		}).then(function(data) {
			for (var i = 0; i < data.length; i++) {
				var res = jQuery.parseJSON(data);
				if (tipo == res.brand) {
					infoDiv.text("CardHolder:" + res.cardHolder + " Credit Number: "+res.creditNumber);
				}
			}
		});
	}

	function checkRates() {
		
		var typeCard = $("input[name='creditCarRates']:checked").val();
		var rates = $("#rates");
		
		$.ajax({
			url : "rates/com.fd.model." + typeCard
		}).then(function(data) {
			rates.text("La tasa de operacion es de " + data + "%");
				
		});

	//rates/com.fd.model.SQUA
	}
	
	function getAll(){
		var vtodo =$("#vtodo");
		
		$.ajax({
			url : "getAll"
		}).then(function(data) {
// 			var res = jQuery.parseJSON(data);
			
			for (var i = 0; i < data.length; i++) {

			vtodo.append("Tarjeta: " +data[i].brand + 
					     "Numero de Tarjeta: " +data[i].creditNumber + " Responsable: "+ data[i].cardHolder + " fecha de vencimiento: " + data[i].expirationDate + "</br>");
			}				
				
		});
	}
</script>

</head>

<body>
	<nav class="navbar navbar-default navbar-static-top navbar-inverse">
		<div class="container"></div>
	</nav>
	<div th:replace="${template}" />


	<script
		src="http://cdn.jsdelivr.net/webjars/angularjs/1.3.8/angular.min.js"
		th:src="@{/webjars/angularjs/1.3.8/angular.min.js}"></script>

	<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
	<script th:src="@{/webjars/jquery-ui/jquery-ui.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>





</body>