<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'index')}">

<body>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/lang-logo.png">
    </a>
    <h1>First Data validation credit car</h1>
    <a type="button" class="btn btn-lg btn-default" href="/validCard"><span class="glyphicon glyphicon-flash"></span> Validation Card!</a>
  </div>
</div>
<div class="container">
  <div class="alert alert-info text-center" role="alert">
  <h3>Under construction!</h3>
  </div>
  <hr>
  

   <div class="alert alert-info text-center" role="alert">
 	We will working for your, please take patience :) 
  </div>
</div>

</body>
</html>
